/* Has padding and borders included in width and height of all elements */
* {
    box-sizing: border-box;
}

body {
    background-color : white;
    margin:0;
}

.flex-container-column {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.flex-item {
    border: 3px groove #0bebfa;
    border-radius: 12px 30px 30px 30px;
    padding: 0px 10px 5px 20px;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 2px;
}

.header {
    position: relative;
    top: 0;
    background-color: aqua;
    text-align: center;
    width: 100%;
    padding: 40px;
}

.navbar {
    width:100%;
    background-color:black;
    padding:0px 30px;
}
.navbar ul {
    padding:0px;
    margin:0px;
}
.navbar li {
    color: white;
    display: inline;
    padding: 5px 3px;
}
.navbar li:hover {
    color:black;
    background-color:#28cec3;
}
.navbar a {
    color: white;
    text-align: center;
    text-decoration: none;    
}
.navbar a:hover {
    color: black;
}

.footer {
    width: 100%;
    background-color: black;
    color: aquamarine;
    padding: 30px;
}

@media screen and (min-width: 700px){
    .flex-container-column {
        flex-direction: row;
        flex-wrap: wrap;
    }
    p, h3, h4, h5 {
        font-size: 1.8em;
        color: darkred;
    }
}
article.flex-item {
    background-color: #e5f7fc;
    height: 300px;
    width: 500px;
    font-stretch:expanded;
    color: #0b20c3;
}
